# See wiki for details
# https://terraria.gamepedia.com/Guide:Setting_up_a_Terraria_server#Making_a_configuration_file

# Server Settings
port=7777
world=/terraria/Worlds/${TERRARIA_WORLD_NAME// /_}.wld
maxplayers=${TERRARIA_SERVER_MAXPLAYERS}
password=${TERRARIA_SERVER_PASSWORD}
motd=${TERRARIA_SERVER_MOTD}
worldpath=/terraria/Worlds
banlist=/terraria/banlist.txt
secure=${TERRARIA_SERVER_SECURE}
language=${TERRARIA_SERVER_LANGUAGE}

# World Creation
autocreate=${TERRARIA_WORLD_SIZE}
difficulty=${TERRARIA_WORLD_DIFFICULTY}
worldname=${TERRARIA_WORLD_NAME}
seed=${TERRARIA_WORLD_SEED}
